xsd/T0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:t0="http://www.thieme-compliance.de/t0"
	targetNamespace="http://www.thieme-compliance.de/t0"
	elementFormDefault="qualified">

	<xs:element name="t0-dokument">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="t0:metadaten" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="metadaten">
		<xs:complexType mixed="true">
			<xs:attribute name="attr" type="xs:string" default="foo"/>
		</xs:complexType>
	</xs:element>

	

</xs:schema>